<%= form_with(model: changelog, local: true) do |form| %>
  <% if changelog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(changelog.errors.count, "error") %> prohibited this changelog from being saved:</h2>

      <ul>
        <% changelog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Changelog.statuses.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rich_description %>
    <%= form.rich_text_area :rich_description %>
  </div>

  <div class="field">
    <%= form.label :contributor_id %>

    <%= form.collection_select :contributor_id, Contributor.all, :id, :login %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
