<p id="notice"><%= notice %></p>

<%= link_to "Changelogs", changelogs_path %>
<%= link_to "Published changelogs", published_changelogs_path %>


<% if @latest_changelog.present? %>
  <hr>

  <div>
    <h2>Latest changelog</h2>

    <div><%= link_to @latest_changelog.title, @latest_changelog %></div>
  </div>

  <hr>
<% end %>

<h1>Changelogs</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Title</th>
      <th>Description</th>
      <th>Rich Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @changelogs.each do |changelog| %>
      <tr>
        <td><%= changelog.status %></td>
        <td><%= changelog.title %></td>
        <td><%= changelog.description %></td>
        <td><%= changelog.rich_description %></td>
        <td><%= link_to 'Show', changelog %></td>
        <td><%= link_to 'Edit', edit_changelog_path(changelog) %></td>
        <td><%= link_to 'Destroy', changelog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Changelog', new_changelog_path %>
