<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @changelog.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @changelog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @changelog.description %>
</p>

<p>
  <strong>Rich Description:</strong>
  <%= @changelog.rich_description %>
</p>

<%= link_to 'Edit', edit_changelog_path(@changelog) %> |
<%= link_to 'Back', changelogs_path %>
